<div class="container">
  <% if @model == 'user' %>
    <div class="row py-3">
      <div class="col text-center mt-4">
        <h2>ユーザー検索結果 "<%= @content %>"</h2>
      </div>
    </div>
    <%= render 'public/users/search_index', users: @records %>
  <% elsif @model == 'post' %>
    <div class="row py-3">
      <div class="col text-center mt-4">
        <h2>投稿検索結果 "<%= @content %>"</h2>
      </div>
    </div>
    <%= render 'public/posts/list', posts: @records %>
  <% end %>
</div>