<div class="container-fluid">
  <div class="row">
    <div class="col text-center my-4">
      <%= image_tag 'ruca.jpg', size: '400x500' %>
      <p>ようこそわんわんスポットへ！</p>      
    </div>
  </div>
</div>





