<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <%= image_tag 'ruca.jpg', class: "img-fluid", style: "width: 500px; height: 500px;" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center my-4">
      <h3 class="pb-3">ようこそ！<br>わんわんスポットへ！</h3> 
      <p class="mb-4 pb-3">わんわんスポットは、愛犬と一緒に楽しめる施設（公園・飲食店など）を検索したり、自分が行った場所を投稿したりできるSNSです。<br>
          飼い主さんたちが実際に訪れた場所を検索・投稿できます。</p>
    </div>
  </div>
</div>