<div class="container-fluid">
  <div class="row">
    <div class="col text-center my-4">
      <%= image_tag 'ruca.jpg', size: '400x500' %>
      <p>フリーワードで探す</p>
      <p>施設から探す</p>
      <p>都道府県から探す（複数選択可）</p>
      <p>こだわり</p>
      
      <p>ようこそわんわんスポットへ！</p>      
    </div>
  </div>
</div>





