<h2>わんわんスポットとは</h2>

<p>わんわんスポットは、愛犬と一緒に楽しめる施設（公園・飲食店など）を検索したり、自分が行った場所を投稿したりできるコミュニティサイトです。<br>
    飼い主さんたちが実際に訪れた場所を検索・投稿できます。</p>

<p>投稿一覧はこちら↓</p>

<%= link_to posts_path do %>
  <%= image_tag 'ruca.jpg', size: '400x500' %>
<% end %>
