<h1>みんなの投稿</h1></h1>

<p>フリーワードで探す</p>
<p>施設から探す</p>
<p>都道府県から探す（複数選択可）</p>
<p>こだわり検索</p>

<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>施設名：<%= post.shop_name %></p>
    <p>都道府県：<%= post.prefecture %></p>
  </div>
<% end %>